body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.imgHead {
  background-image: url(../assets/images/controldepeso1.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

@media (max-width: 910px) {
  .column-10 {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .row > .column-1 > .row {
    display: inline-block;
  }

  .column-13, .column-9, .column-10 {
    width: 100%;
  }
}
